@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  color: #000000;
  background-color: rgb(11, 0, 71);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
